body {
	font-family: 'Poppins', sans-serif;
	margin: 0;
}

#cover-section {
	background: url("../images/cover_background.png") top center no-repeat;
	.top-navigation {
		display: flex;
		align-items: center;
		margin-top: 20px;
		.left-side {
			display: flex;
			align-items: center;
			.logo-box {
				p {
					font-size: 25px;
					color: #fff;
					margin: 0;
					span {
						height: 35px;
						width: 35px;
						background: #1da7ff;
						display: inline-block;
						text-align: center;
						line-height: 35px;
						border-radius: 50%;
					}
				}
			}
			.menu-btn {
				margin-left: auto;
				background: #1da7ff;
				height: 40px;
				width: 40px;
				color: #fff;
				border: none;
				border-radius: 5px;
				display: none;
			}
			.menu-btn:hover {
				background: #69c0f7;
			}
		}
		.right-side {
			margin-left: auto;
			ul {
				padding: 0;
				li {
					list-style: none;
					display: inline-block;
					a {
						color: #fff;
						text-decoration: none;
						padding: 10px 15px;
						opacity: 0.8;
						display: inline-block;
						transition: all 0.3s ease;
					}
					a:hover {
						opacity: 1;
					}
					.cta-btn {
						background: #1da7ff;
						border-radius: 30px;
						opacity: 1;
					}
					.cta-btn:hover {
						background: #69c0f7;
					}
				}
			}
		}
	}
	.cover-text {
		text-align: center;
		margin: 200px 0;
		h1, p {
			color: #fff;
			font-weight: 400;
			margin: 0;
		}
		h1 {
			font-size: 45px;
		}
		p {
			font-size: 18px;
			opacity: 0.8;
		}
	}
}

@media only screen and (max-width: 850px) {
	#cover-section {
		.cover-text {
			margin: 80px 0;
			h1 { 
				font-size: 30px;
			}
			p {
				font-size: 15px;
			}
		}
	}
}
 
@media only screen and (max-width: 640px) {
    #cover-section {
    	.top-navigation {
    		display: block;
    		.left-side {
    			.menu-btn {
					display: block;
    			}
    		}
    		.right-side {
    			ul {
    				margin-top: 0;
    				height: 0;
    				overflow: hidden;
    				li {
    					display: block;
    					a {
    						padding-left: 0;
    					}
    					.cta-btn, .cta-btn:hover  {
    						background: none;
    					}
    				}
    			}
    			.navigation-active {
    				height: auto;
    			}
    		}
    	}
    }
}

#our-features {
	text-align: center;
	h2 {
		font-size: 30px;
		color: #262626;
		display: inline-block;
		margin: 100px auto;	
	}
	h2::after {
		content: "";
		width: 50px;
		height: 5px;
		background: #5a4496;
		display: block;
		margin: auto;
	}
	.feature-box {
		.img-frame {
			width: 150px;
			height: 150px;
			margin: auto;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		p {
			font-size: 20px;
			font-weight: 600;
			color: #4d4d4d;
		}
	}
	.cta-buttons {
		margin: 50px 0;
		.RQ-btn, .LM-btn {
			padding: 10px 20px;
			border-radius: 30px;
			font-size: 20px;
			text-decoration: none;
			margin: 0 5px 10px 5px; 
			display: inline-block;
		}
		.RQ-btn {
			background: #1da7ff;
			border: 1px solid #1da7ff;
			color: #fff;
		}
		.LM-btn {
			background: #fff;
			border: 2px solid #1da7ff;
			color: #1da7ff;
		}
	}
}

@media only screen and (max-width: 450px) {
	#our-features {
		.cta-buttons {	
			.RQ-btn, .LM-btn {
				font-size: 18px;
				padding: 15px;
			}
		}
	}
}

#statistics-data {
	padding: 80px 0;
	background: #5b439c;
	.data-box {
		text-align: center;
		h3 {
			margin: 0;
			font-size: 55px;
			color: #fff;
			opacity: 0.5;
			text-align: center;
		}
		h3::after {
			content: "+";
			font-weight: 500;
		}
		p {
			margin: 0;
			padding-bottom: 5px;
			font-size: 25px;
			color: #fff;
			font-weight: 300;
			border-bottom: 3px solid #1da7ff;
			display: inline;	
		}
	}
}

@media only screen and (max-width: 991px) {
	#statistics-data {
		text-align: center;
		.data-box {
			display: inline-block;
			h3 {
				font-size: 45px;
			}
		}
	}
}

@media only screen and (max-width: 767px) {
	#statistics-data {
		padding: 50px 0;
		.data-box {
			margin-bottom: 50px;
		}
	}
}