/* line 1, ../sass/style.scss */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

/* line 7, ../sass/style.scss */
#cover-section {
  background: url("../images/cover_background.png") top center no-repeat;
}
/* line 9, ../sass/style.scss */
#cover-section .top-navigation {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
/* line 13, ../sass/style.scss */
#cover-section .top-navigation .left-side {
  display: flex;
  align-items: center;
}
/* line 17, ../sass/style.scss */
#cover-section .top-navigation .left-side .logo-box p {
  font-size: 25px;
  color: #fff;
}
/* line 20, ../sass/style.scss */
#cover-section .top-navigation .left-side .logo-box p span {
  height: 35px;
  width: 35px;
  background: #1da7ff;
  display: inline-block;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
}
/* line 31, ../sass/style.scss */
#cover-section .top-navigation .left-side .menu-btn {
  margin-left: auto;
  background: #1da7ff;
  height: 40px;
  width: 40px;
  color: #fff;
  border: none;
  border-radius: 5px;
  display: none;
}
/* line 41, ../sass/style.scss */
#cover-section .top-navigation .left-side .menu-btn:hover {
  background: #69c0f7;
}
/* line 45, ../sass/style.scss */
#cover-section .top-navigation .right-side {
  margin-left: auto;
}
/* line 47, ../sass/style.scss */
#cover-section .top-navigation .right-side ul {
  padding: 0;
}
/* line 49, ../sass/style.scss */
#cover-section .top-navigation .right-side ul li {
  list-style: none;
  display: inline-block;
}
/* line 52, ../sass/style.scss */
#cover-section .top-navigation .right-side ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  opacity: 0.8;
  display: inline-block;
  transition: all 0.3s ease;
}
/* line 60, ../sass/style.scss */
#cover-section .top-navigation .right-side ul li a:hover {
  opacity: 1;
}
/* line 63, ../sass/style.scss */
#cover-section .top-navigation .right-side ul li .cta-btn {
  background: #1da7ff;
  border-radius: 30px;
  opacity: 1;
}
/* line 68, ../sass/style.scss */
#cover-section .top-navigation .right-side ul li .cta-btn:hover {
  background: #69c0f7;
}
/* line 75, ../sass/style.scss */
#cover-section .cover-text {
  text-align: center;
  margin: 150px 0;
}
/* line 78, ../sass/style.scss */
#cover-section .cover-text h1, #cover-section .cover-text p {
  color: #fff;
  font-weight: 400;
  margin: 0;
}
/* line 83, ../sass/style.scss */
#cover-section .cover-text h1 {
  font-size: 40px;
}
/* line 86, ../sass/style.scss */
#cover-section .cover-text p {
  font-size: 18px;
  opacity: 0.8;
}

@media only screen and (max-width: 850px) {
  /* line 95, ../sass/style.scss */
  #cover-section .cover-text {
    margin: 80px 0;
  }
  /* line 97, ../sass/style.scss */
  #cover-section .cover-text h1 {
    font-size: 30px;
  }
  /* line 100, ../sass/style.scss */
  #cover-section .cover-text p {
    font-size: 15px;
  }
}
@media only screen and (max-width: 640px) {
  /* line 109, ../sass/style.scss */
  #cover-section .top-navigation {
    display: block;
  }
  /* line 112, ../sass/style.scss */
  #cover-section .top-navigation .left-side .menu-btn {
    display: block;
  }
  /* line 117, ../sass/style.scss */
  #cover-section .top-navigation .right-side ul {
    margin-top: 0;
    height: 0;
    overflow: hidden;
  }
  /* line 121, ../sass/style.scss */
  #cover-section .top-navigation .right-side ul li {
    display: block;
  }
  /* line 123, ../sass/style.scss */
  #cover-section .top-navigation .right-side ul li a {
    padding-left: 0;
  }
  /* line 126, ../sass/style.scss */
  #cover-section .top-navigation .right-side ul li .cta-btn, #cover-section .top-navigation .right-side ul li .cta-btn:hover {
    background: none;
  }
  /* line 131, ../sass/style.scss */
  #cover-section .top-navigation .right-side .navigation-active {
    height: auto;
  }
}
